In [3]:
# First thing to do is to load up the libaries 

import pandas as pd 
import numpy as np

### For Energy Indicators data:

In [6]:
# Load up and clean the Energy Indicators data 

Energy = pd.read_excel( "Energy Indicators.xls", header=16, skipfooter=38, skiprows=1, usecols='C:F', na_values='...')
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

# Convert 'Energy Supply' to gigajoules (Note: 1,000,000 gigajoules = 1 petajoule)

Energy['Energy Supply'] *= 1_000_000  # <--- since the energy supply column is in petajoules then multiply it with 1_000_000

# Clean the country names to remove unnecessary numbers and parentheses 

Energy['Country'] = Energy['Country'].str.replace(r'\d+', '', regex=True) 
Energy['Country'] = Energy['Country'].str.replace(r'\(.*\)', '', regex=True)

# Rename some specific countries 

Energy['Country'] = Energy['Country'].replace({
    "Republic of Korea": "South Korea",
    "United States of America": "United States", 
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", 
    "China, Hong Kong Special Administrative Region": "Hong Kong"
})

# Display the first 15 rows 

Energy.head(15)

                Country  Energy Supply  Energy Supply per Capita  % Renewable
0           Afghanistan   3.210000e+08                      10.0    78.669280
1               Albania   1.020000e+08                      35.0   100.000000
2               Algeria   1.959000e+09                      51.0     0.551010
3        American Samoa            NaN                       NaN     0.641026
4               Andorra   9.000000e+06                     121.0    88.695650
5                Angola   6.420000e+08                      27.0    70.909090
6              Anguilla   2.000000e+06                     136.0     0.000000
7   Antigua and Barbuda   8.000000e+06                      84.0     0.000000
8             Argentina   3.378000e+09                      79.0    24.064520
9               Armenia   1.430000e+08                      48.0    28.236060
10                Aruba   1.200000e+07                     120.0    14.870690
11            Australia   5.386000e+09                     231.0    11.810810
12              Austria   1.391000e+09                     164.0    72.452820
13           Azerbaijan   5.670000e+08                      60.0     6.384345
14              Bahamas   4.500000e+07                     118.0     0.000000

### For GDP data:

In [9]:
# Load up and clean the GDP data 

GDP = pd.read_csv('world_bank.csv', header=1, skiprows=3) 

# Rename some specific countries 

GDP['Country Name'] = GDP['Country Name'].replace({
    "Korea, Rep.": "South Korea", 
    "Iran, Islamic Rep.": "Iran", 
    "Hong Kong SAR, China": "Hong Kong"
})

# Filter the GDP data from the last 10 years (2006-2015) 

GDP = GDP[['Country Name'] + [str(year) for year in range(2006, 2016)]]

# Display the first 15 rows 

GDP.head(15)

,Country Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
5,Arab World,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12
6,United Arab Emirates,2.789489e+11,2.878318e+11,2.970189e+11,2.814464e+11,2.860493e+11,3.009462e+11,3.216922e+11,3.355937e+11,3.509313e+11,3.621003e+11
7,Argentina,3.788140e+11,4.089887e+11,4.215649e+11,4.217758e+11,4.616402e+11,5.003555e+11,5.043671e+11,5.189199e+11,5.212737e+11,NaN
8,Armenia,8.679746e+09,9.873142e+09,1.055439e+10,9.060944e+09,9.260285e+09,9.695518e+09,1.039360e+10,1.073658e+10,1.111236e+10,1.144574e+10
9,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,1.268714e+09,1.389229e+09,1.390217e+09,1.222890e+09,1.135539e+09,1.115174e+09,1.159999e+09,1.155982e+09,1.211723e+09,1.256122e+09
11,Australia,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
12,Austria,3.782096e+11,3.919065e+11,3.979703e+11,3.828512e+11,3.902351e+11,4.011929e+11,4.042312e+11,4.055298e+11,4.069632e+11,4.104717e+11
13,Azerbaijan,3.329047e+10,4.162940e+10,4.611390e+10,5.045352e+10,5.290270e+10,5.293758e+10,5.410221e+10,5.723834e+10,5.838310e+10,5.902532e+10
14,Burundi,1.714698e+09,1.796761e+09,1.887463e+09,1.952928e+09,2.026864e+09,2.111823e+09,2.196705e+09,2.297623e+09,2.404713e+09,2.343733e+09

### For Scimagojr data:

In [12]:
# Load up and clean the Scimagojr data 

ScimEn = pd.read_excel('scimagojr-3.xlsx') 

# Filter the Scimagojr data to the top 15 ranked countries 

ScimEn_top15 = ScimEn[ScimEn['Rank'] <= 15]

# Display the first 15 rows 

ScimEn.head(15)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

### Merging the datasets:

In [15]:
# To ensure the consistent formatting of the country names across the 3 datasets 

Energy['Country'] = Energy['Country'].str.strip().str.title()
GDP['Country Name'] = GDP['Country Name'].str.strip().str.title()
ScimEn['Country'] = ScimEn['Country'].str.strip().str.title() 

# Merging the datasets together based on 'Country'

first_merged = pd.merge(ScimEn_top15, Energy, how='inner', left_on='Country', right_on='Country')
final_merged = pd.merge(first_merged, GDP, how='inner', left_on='Country', right_on='Country Name')

# Setting the index of the dataframe and reordering the columns 

final_merged.set_index('Country', inplace=True) 
new_columns_order = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 
                     'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', 
                     '% Renewable'] + [str(year) for year in range(2006, 2016)] 

# Assigning the merged datasets into a new dataframe and finally sorting it by 'Rank' 

final_result = final_merged[new_columns_order]
final_result = final_result.sort_values(by='Rank') 

# Displaying the first 15 rows of my well-organized final result

final_result.head(15)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

## Final Result Explanation:

In [18]:
# To verify our final result if we have the required 20 columns and 15 entries 

final_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, China to Brazil
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rank                      15 non-null     int64
 1   Documents                 15 non-null     int64
 2   Citable documents         15 non-null     int64
 3   Citations                 15 non-null     int64
 4   Self-citations            15 non-null     int64
 5   Citations per document    15 non-null     float64
 6   H index                   15 non-null     int64
 7   Energy Supply             15 non-null     float64
 8   Energy Supply per Capita  15 non-null     float64
 9   % Renewable               15 non-null     float64
 10  2006                      15 non-null     float64
 11  2007                      15 non-null     float64
 12  2008                      15 non-null     float64
 13  2009                      15 non-null     float64
 14  2010                      15 non-null     float64
 15  2011                      15 non-null     float64
 16  2012                      15 non-null     float64
 17  2013                      15 non-null     float64
 18  2014                      15 non-null     float64
 19  2015                      14 non-null     float64
dtypes: float64(14), int64(6)
memory usage: 2.5+ KB

- Finally, It shows we have our required 15 entries and 20 columns.